{% extends 'base-blog.html' %}
{% block title %}Sobre Nosotros{% endblock title %}
{% block container %}
    <!-- Page Header-->
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Quienes Somos</h1>
                    <span class="subheading">Un poco de nosotros...</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content-->
    <main class="mb-4 mt-3">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 pt-5 justify-content-center">
                <div class="col-3 text-center">
                  <img class="rounded-circle" src="static/assets/img/adrian.jpg" alt="Adrian" width="140" height="140">
                  <h2>Adrian Tschieder</h2>
                  <p>Desorrallor Python. Desde el 2011 como Programador en HTML y PHP.</p>
                </div><!-- /.col-lg-6 -->
                <div class="col-3 text-center">
                  <img class="rounded-circle" src="static/assets/img/adriel.jpg" alt="Adriel" width="140" height="140">
                  <h2>Adriel Scheffer</h2>
                  <p>Desorrallor Python. Especialista CEO</p>
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>Lo curioso es que ambos somos de la camada 23855.</p>
                    <p>Hemos desarrollado este software pensando en los Ingenieros Eléctronicos que se especializan en el arreglo de Maquinarias Agrícolas.</p>
                </div>
            </div>
        </div>
        <!-- Three columns of text below the carousel -->
  
    </main>
{% endblock container %}