{% extends 'base.html' %}


{% block content %}
    <title>Agregar comentario</title>
    <body>
        <div  class="mt-3 text-white">
            <div  class="form-group">
                <form method="POST"> 
                    {% csrf_token %}
                    {{form.media}}
                    {{ form.as_p }}
                    
                    <input type="submit" value= "enviar">

            </form>
            </div>
        </div>
    </body>
    </html>
   
    

    {% endblock %}