{% extends 'base-blog.html' %}
{% block title %}Sobre Nosotros{% endblock title %}
{% block container %}
    <!-- Page Header-->
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Contáctenos</h1>
                </div>
            </div>
        </div>
    </div>
        <!-- Main Content-->
    <body>
        {% csrf_token %}
        <div class="col-12 d-flex justify-content-center">
            <div class="col-md-8 ">
                <div class="form-group">
                    <form action = "../" method="POST" class="row m-2"> 
                        {% csrf_token %}
                        {{form.media}}
                        {{ form.as_p }}
                        
                        <input type="submit" class="btn btn-success m-2 px-3" value= "Enviar">
                </form>    
                </div>
            </div>
        </div>










    </body>
{% endblock container %}