{% extends 'base.html' %}


{% block content %}
    <title>Blog</title>
    <div class="mt-3 text-white">
        <h1 class = "ml-3  mt-3">Post</h1>
        
        
        <div class="mt-3 text-white">

            {% if user.is_authenticated %}
            <a href="{% url 'agregar_post' %}" class="btn btn-success"> crear nuevo post</a>

            {% else %}
            
            {% endif %}
        </div>
        
        <ul>
        {% for post in object_list %}
            <li class="ml-3  mt-3">
                
                
                
                <h2>{{post.titulo}}</h2><br>

                - {{post.autor}} - {{post.fecha_publicacion}}
                {% if user.is_authenticated %}
                    {% if user.id == post.autor.id %}
                    <a class = "btn btn-success" href= "{% url 'actualizar_post' post.pk %}">editar</a>- <a class="btn btn-success" href= "{% url 'eliminar_post' post.pk %}">borrar</a>
                    {% endif %}
                {% else %}
                <br/>
                {% endif %}
                <br>
            {{post.cuerpo|slice:":200"|safe}}<br>
            <a class="btn btn-success" href= "{% url 'post_detail' post.pk %}">leer mas</a>

            </li>

        {% endfor %}
        </ul>
    </div>
{% endblock %}

