{% extends 'base.html' %}

{% block title %}
{{post.titulo}}
{% endblock %}

{% block content %}

        <h1 class="mt-3 text-white">{{post.titulo}}</h1>

        <small class="mt-3 text-white"> by: {{post.autor}} - 
                {% if user.id == post.autor.id %}
                <a href= "{% url 'actualizar_post' post.pk %}">editar</a>- <a href= "{% url 'eliminar_post' post.pk %}">borrar</a>
                {% endif %}
                <br>
                fecha: {{post.fecha_publicacion}}



        </small><br>
        {% if post.portada_post %}
        <img src = "{{post.portada_post.url}}">
        {% endif %}
        <a class="mt-3 text-white"> {{post.cuerpo|safe}}</a><br>
        <br>
        <form action = "{% url 'like' post.pk %}"
        method = "POST">
                {% csrf_token %}
                <button type = "submit" name = "post_id", value = "{{post.id}}", class = "btn btn-primary btn-sm">me gusta</button> <a class="mt-3 text-white">{{total_likes}}- me gusta</a> 
        </form>
        <br>
        <hr>

        <h2>Comentarios...</h2>
        <ul class="mt-3 text-white">
                {% if not post.comentarios.all %}
                        no hay comentarios todavia...<br>
                        <a href=" {% url 'crear_comentario' post.pk %} ">Agregar comentario </a>

                {% else %}
                        <a href=" {% url 'crear_comentario' post.pk %} ">Agregar comentario </a>
                        {% for comentario in post.comentarios.all %}
                                <strong>
                                        {{comentario.nombre}}-
                                        {{comentario.fecha}} -<br>
                                        {{comentario.autor}} -<br>
                                </strong>
                                <br>
                                        <a>{{comentario.cuerpo|safe}}</a>
                                <br>
                        {% endfor %}

                {% endif %}

        </ul>
        <br>
        <br>
        <a href="{% url 'home' %}" class="btn btn-primary"> Atras</a>


{% endblock %}