{% extends "base-blog.html" %}
{% block title%}Restablecer la contraseña{%endblock%}
{% block container%}

{% if validlink%}
<h2>Nueva contraseña</h2>
<form action="" method="POST">
{% csrf_token %}
{{form.new_password1.errors}}
<label for="id_new_password1">Nueva contraseña: </label>{{form.new_password1}}
{{form.new_password2.errors}}
<label for="id_new_password2">Nueva contraseña: </label>{{form.new_password2}}
<input type="submit" class="btn" value="Cambiar Contraseña">
</form>
{% else %}
<h2>El enlace ha caducado. Vuelva a solicitar un nuevo enlace</h2>
{% endif %}
{% endblock %}