{% extends "./base.html" %}
{% block head%}<title>Maquinarias de {{clientes}}</title>{%endblock%}
{% block body%}
<div class="col-12 ">
    
    <div class="row col-md-4 mx-auto">
        <a href="{% url 'clientes'%}" class="text-white cajas_index"><i class="fas fa-users fa-4x"></i><br>Clientes</a>
        <a href="{% url 'maquinarias'%}" class="text-white cajas_index" ><i class="fas fa-tractor fa-4x"></i><br>Maquinarias</a>
    </div>
    <div class="row col-md-4 mx-auto">
        <a href="{% url 'arreglos'%}" class="text-white cajas_index"><i class="fas fa-toolbox fa-4x"></i><br>Arreglos</a>
        <a href="{% url 'home' %}" class="text-white cajas_index"><i class="fas fa-file-invoice fa-4x"></i><br>Blog</a>
    </div>
</div>
{%endblock%}