{% extends './baseauth.html' %}
{% block title %}Iniciar Sesión{% endblock %}
{% block contenidologin %}
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                        <h2>{{mensaje}}</h2>
                                        <form method="POST">
                                                {% csrf_token %}
                                                {{form.as_p}}
                                            <button class="btn btn-success" type="submit">Ingresar</button>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="{% url 'register' %}">Registrate!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
{% endblock %}